{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Subscribe Form</title>
  <link rel="stylesheet" href="{% static 'css/newsletter.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="wrapper">
      <div class="content">
        <header>
          <h1>Subscribe Us</h1>
        </header>
        <section>
{% block content %}
          <p>
           Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
{% endblock content %}

        </section>
        <footer>
          <input type="email" placeholder="Enter your email">
          <button>Let's go</button>
        </footer>
      </div>
    </section>

<!-- partial -->
  
</body>
</html>
